name: SECRET TEST

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      STREAM_KEY: ${{ secrets.STREAM_KEY }}
    steps:
      - name: Print env
        run: |
          env | sort | grep STREAM || echo "NO STREAM KEY"
